<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  
<mat-sidenav-container class="example-container">
    <mat-sidenav class="example-sidenav-content" mode="side" opened>
          <br><img src="assets\logo.png" alt="HTML tutorial" style="max-width:50%;max-height:50%;border:0;"><br>
          <br>Kynten Slocum
          <br>Technical Artist
          <br>Full Stack Developer
          <mat-divider></mat-divider>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-main-content">
      <!--Main content-->
      <mat-toolbar>
          <mat-toolbar-row>
            <span>Page Title Probably?</span>
          </mat-toolbar-row>
        </mat-toolbar>
      <div>
        <mat-tab-group>
          <mat-tab label="Tab1">
            <mat-card>
              <mat-card-title>Card title</mat-card-title>
              <mat-card-content>Card Content</mat-card-content>
            </mat-card>
          </mat-tab>
            
          <mat-tab label="Tab2">
          </mat-tab>
          
          <mat-tab label="Tab3">
          </mat-tab>

        </mat-tab-group>
      </div> 
    </mat-sidenav-content>
  </mat-sidenav-container>