<div class="card-deck-container">
<mat-card *ngFor="let i of items" class="card-item">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{i.name}}</mat-card-title>
    <mat-card-subtitle>{{i.type}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src={{i.img}}>
  <mat-card-content>
     {{i.desc}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" routerLink="projects/{{i.id}}">OPEN</button>
  </mat-card-actions>
</mat-card>
</div>