<div class="card-deck-container">
<mat-card *ngFor="let i of items" class="card-item">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{i.name}}</mat-card-title>
    <mat-card-subtitle class="truncate">{{i.type}}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <!--<img mat-card-image src={{i.img}}> -->
  <mat-card-content>
    <br>
    <p>
     {{i.desc}}
     </p>
     <br>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" routerLink="projects/{{i.id}}" class="button">OPEN</button>
  </mat-card-actions>
</mat-card>
</div>